[submodule "cfe"]
	path = cfe
	url = https://github.com/nasa/cFE.git
	branch = main
[submodule "osal"]
	path = osal
	url = https://github.com/nasa/osal.git
	branch = main
[submodule "psp"]
	path = psp
	url = https://github.com/nasa/PSP.git
  branch = main
[submodule "apps/ci_lab"]
	path = apps/ci_lab
	url = https://github.com/nasa/ci_lab.git
  branch = main
[submodule "apps/sample_app"]
	path = apps/sample_app
	url = https://github.com/nasa/sample_app.git
	branch = main
[submodule "apps/sample_lib"]
	path = libs/sample_lib
	url = https://github.com/nasa/sample_lib.git
  branch = main
[submodule "apps/sch_lab"]
	path = apps/sch_lab
	url = https://github.com/nasa/sch_lab.git
  branch = main
[submodule "apps/to_lab"]
	path = apps/to_lab
	url = https://github.com/nasa/to_lab.git
  branch = main
[submodule "tools/cFS-GroundSystem"]
	path = tools/cFS-GroundSystem
	url = https://github.com/nasa/cFS-GroundSystem.git
  branch = main
[submodule "tools/elf2cfetbl"]
	path = tools/elf2cfetbl
	url = https://github.com/nasa/elf2cfetbl.git
  branch = main
[submodule "tools/tblCRCTool"]
	path = tools/tblCRCTool
	url = https://github.com/nasa/tblCRCTool.git
  branch = main
