[submodule "cfe"]
	path = cfe
	url = https://github.com/McMasterNEUDOSE/cFE.git
	branch = master
[submodule "apps/ci_lab"]
	path = apps/ci_lab
	url = https://github.com/McMasterNEUDOSE/ci_lab.git
        branch = master
[submodule "apps/sample_app"]
	path = apps/sample_app
	url = https://github.com/nasa/sample_app.git
        branch = master
[submodule "apps/sample_lib"]
	path = apps/sample_lib
	url = https://github.com/nasa/sample_lib.git
        branch = master
[submodule "apps/sch_lab"]
	path = apps/sch_lab
	url = https://github.com/nasa/sch_lab.git
        branch = master
[submodule "apps/to_lab"]
	path = apps/to_lab
	url = https://github.com/McMasterNEUDOSE/to_lab.git
        branch = master
[submodule "tools/cFS-GroundSystem"]
	path = tools/cFS-GroundSystem
	url = https://github.com/McMasterNEUDOSE/cFS-GroundSystem.git
        branch = master
[submodule "tools/elf2cfetbl"]
	path = tools/elf2cfetbl
	url = https://github.com/nasa/elf2cfetbl.git
        branch = master
[submodule "tools/tblCRCTool"]
	path = tools/tblCRCTool
	url = https://github.com/nasa/tblCRCTool.git
        branch = master
[submodule "apps/HK"]
	path = apps/hk
	url = https://github.com/McMasterNEUDOSE/HK.git