name: Update wiki

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Force bash to apply pipefail option so pipeline failures aren't masked
defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checks out a copy of your repository on the ubuntu-latest machine
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: create CCB agenda
        run: python3 .github/scripts/create_ccb_agenda.py
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Archive CCB agenda artifact
        uses: actions/upload-artifact@v3
        with:
          name: ccb-agenda
          path: ./CCBAgenda.md