name: Static Analysis

on:
  workflow_call:
    inputs:
      module:
        description: 'GitHub Module'
        type: string
        default: 'bundle'
      cppcheck-code:
        description: 'Cppcheck Code'
        type: string
        default: ''

jobs:
  #Checks for duplicate actions. Skips push actions if there is a matching or duplicate pull-request action. 
  check-for-duplicates:
    runs-on: ubuntu-latest
    # Map a step output to a job output
    outputs:
        should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@master
        with:
          concurrent_skipping: 'same_content'
          skip_after_successful_duplicate: 'true'
          do_not_skip: '["pull_request", "workflow_dispatch", "schedule"]'

  static-analysis:
    #Continue if check-for-duplicates found no duplicates. Always runs for pull-requests.
    needs: check-for-duplicates
    if: ${{ needs.check-for-duplicates.outputs.should_skip != 'true' }}
    name: Run cppcheck
    runs-on: ubuntu-18.04

    strategy:
      fail-fast: false

    steps:      
      - name: Install cppcheck
        run: sudo apt-get install cppcheck -y

        # Checks out a copy of the cfs bundle
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Run bundle cppcheck
        run: cppcheck --force --inline-suppr --quiet . 2> ${{ inputs.module }}_cppcheck_err.txt
        
      - name: Archive static analysis artifacts for bundle
        uses: actions/upload-artifact@v2
        with:
          name: bundle-cppcheck-err
          path: ./*cppcheck_err.txt

      - name: Check for errors for bundle
        run: |
          if [[ -s bundle_cppcheck_err.txt ]];
          then
            cat $bundle_cppcheck_err.txt
            exit -1
          fi
          
        # Run strict static analysis for embedded portions of cfe, osal, and psp
      - name: Strict cppcheck
        if: ${{ inputs.module !='bundle' }}
        run: |
          ${{ inputs.cppcheck-code }}
      - name: Archive static analysis artifacts
        if: ${{ inputs.module !='bundle' }}
        uses: actions/upload-artifact@v2
        with:
          name: ${{ inputs.module }}-cppcheck-err
          path: ./*cppcheck_err.txt

      - name: Check for errors
        if: ${{ inputs.module !='bundle' }}
        run: |
          if [[ -s ${{ inputs.module }}_cppcheck_err.txt ]];
          then
            cat ${{ inputs.module }}_cppcheck_err.txt
            exit -1
          fi